<app-header titulo="DateTime"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime
        presentation="time-date"
        [value]="fechaNaci.toISOString()"
        display-format="YYYY MM DD"
        (ionChange)="cambioFecha($event)"
      ></ion-datetime>
    </ion-item>
    <ion-list-header>
      <ion-label>Min y Max</ion-label>
    </ion-list-header>
    <ion-datetime
      presentation="time-date"
      display-format="YYYY MM DD"
    ></ion-datetime>
  </ion-list>
</ion-content>
