<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col
        size="12"
        size-lg="3"
        size-md="6"
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]"
      >
        <ion-card>
          <ion-img
            src="https://res.cloudinary.com/dwxvqq7v9/image/upload/v1644675955/small_monkey_avatar_e929b5196c.png"
          ></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia,
          possimus!
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
